<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriver" value="Chrome" />
    <!--<add key="webDriver" value="InternetExplorer"/>-->
    <!--<add key="webDriver" value="Firefox"/>-->
    
    <add key="Host" value="http://automationpractice.com/index.php?"/>
  </appSettings>
</configuration>